[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "2.0.1"
torch = "2.0.1"
torchvision = "0.15.2"
torchaudio = "2.0.2"
scikit-learn = "1.2.2"
matplotlib = "*"
opencv-python = "*"
torchinfo = "*"
seaborn = "*"
pillow = "*"
lifelines = "*"
joblib = "*"
requests = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"
